<h4>CHARACTERS</h4>

<md-card>
  <md-card-header>
    <md-icon>{{ newCharacter ? 'person_add' : 'person' }}</md-icon>
  </md-card-header>
  <md-card-title>
    <!--{{ newCharacter ? 'Add new character' : character.name }}-->
  </md-card-title>
  <md-card-content >
    <div *ngIf="newCharacter; then addCharacterBlock; else editCharacterBlock"></div>
  </md-card-content>
</md-card>

<!-- Шаблоны для содержимого карточки: -->

<ng-template #editCharacterBlock>
  <div *ngIf="viewReady">
    <div class="row">
      <md-input-container class="full-width">
        <input mdInput [(ngModel)]="character.name">
        <md-hint align="end">Character's Name</md-hint>
      </md-input-container>
    </div>
    <div class="row">
      <md-input-container class="full-width tricky-select">
        <input type="text" mdInput class="full-width" [ngStyle]="{'display':'none'}" >
        <md-select [(ngModel)]="selectedValue" name="food" class="full-width">
          <md-option *ngFor="let vehicle of foods" [value]="vehicle.value">
            {{vehicle.viewValue}}
          </md-option>
        </md-select>
        <md-hint align="end">Character's Vehicle</md-hint>
      </md-input-container>
    </div>
    <div class="row">
      <md-slide-toggle 
          labelPosition="before"
          class="example-margin"
          [color]="slider_color"
          [checked]="slider_checked"
          [disabled]="slider_disabled">
        Has Vehicle
      </md-slide-toggle>
    </div>
    <p class="card-buttons">
      <button (click)="updateCharacter()">Back</button>
      <button class="abort" (click)="deleteCharacter()">Remove</button>
    </p>
  </div>
</ng-template>

<ng-template #addCharacterBlock>
  <div *ngIf="viewReady">
    <div class="row">
      <md-input-container class="full-width">
        <input mdInput [(ngModel)]="character.name">
        <md-hint align="end">Character's Name</md-hint>
      </md-input-container>
    </div>
    <div class="row">
      <md-input-container class="full-width tricky-select">
        <input type="text" mdInput class="full-width" [ngStyle]="{'display':'none'}" >
        <md-select [(ngModel)]="selectedValue" name="food" class="full-width">
          <md-option *ngFor="let vehicle of foods" [value]="vehicle.value">
            {{vehicle.viewValue}}
          </md-option>
        </md-select>
        <md-hint align="end">Character's Vehicle</md-hint>
      </md-input-container>
    </div>
    <div class="row">
      <md-slide-toggle
          labelPosition="before"
          class="slider_margin"
          [color]="slider_color"
          [checked]="slider_checked"
          [disabled]="slider_disabled">
        Has Vehicle
      </md-slide-toggle>
    </div>
    <p class="card-buttons">
      <button (click)="navToCharacterList(true)">Cancel</button>
      <button class="apply" 
          (click)="createCharacter()" 
          [disabled]="!character.name || character.name.length == 0">Save</button>
    </p>
  </div>
</ng-template>
