<h4>VEHICLES</h4>

<div *ngIf="newVehicle; then addVehicleBlock; else editVehicleBlock"></div>

<ng-template #editVehicleBlock>
  <h3>{{ vehicle.name }}</h3>
  <div>
    <label>Id: </label>{{ vehicle.id }}</div>
  <div>
    <label>Name: </label>
    <input [(ngModel)]="vehicle.name" placeholder="name" />
  </div>
  <p>
    <button (click)="saveVehicle()">Back</button>
    <button class="abort" (click)="removeVehicle()">Remove</button>
  </p>
</ng-template>

<ng-template #addVehicleBlock>
  <h3>Add new vehicle</h3>
  <div>
    <label>Id: </label>
    {{ vehicle.id }}
  </div>
  <div>
    <label>Name: </label>
    <input [(ngModel)]="vehicle.name" placeholder="name" />
  </div>
  <p>
    <button (click)="navToVehicleList()">Cancel</button>
    <button class="apply" (click)="addVehicle()" [disabled]="!vehicle.name || vehicle.name.length == 0">Save</button>
  </p>
</ng-template>