<h4>VEHICLES</h4>

<md-card *ngIf="viewReady">
  <md-card-header>
    <md-icon>{{ newVehicle ? 'person_add' : 'person' }}</md-icon>
  </md-card-header>
  <md-card-title>
    <!--{{ newCharacter ? 'Add new character' : character.name }}-->
  </md-card-title>
  <md-card-content >
    <div *ngIf="newVehicle; then addVehicleBlock; else editVehicleBlock"></div>
  </md-card-content>
</md-card>
<md-spinner strokeWidth="8" color="accent" *ngIf="!viewReady" style="margin: 50px 100px"></md-spinner>

<!-- Шаблоны для содержимого карточки: -->

<ng-template #editVehicleBlock>
    <div class="row">
      <md-input-container class="full-width">
        <input mdInput [(ngModel)]="vehicle.name">
        <md-hint align="end">Vehicle Name</md-hint>
      </md-input-container>
    </div>
    <p class="card-buttons">
      <button (click)="updateVehicle()">Back</button>
      <button class="abort" (click)="deleteVehicle()">Remove</button>
    </p>
</ng-template>

<ng-template #addVehicleBlock>
    <div class="row">
      <md-input-container class="full-width">
        <input mdInput [(ngModel)]="vehicle.name">
        <md-hint align="end">Vehicle Name</md-hint>
      </md-input-container>
    </div>
    <p class="card-buttons">
      <button (click)="navToVehicleList(true)">Cancel</button>
      <button class="apply" (click)="createVehicle()" [disabled]="!vehicle.name || vehicle.name.length == 0">Save</button>
    </p>
</ng-template>