
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* 
    Статическе свойства
*/
main, section, article, ul, scrollable {
  height: 100%
}
.main {
  display: inline-block;
}
.scrollable{
  overflow-y : auto; 
}

/* Master Styles */
html{
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #fffcff;
}
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
h4{
  margin-bottom: 1em;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  position: relative;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  transition: all ease-in-out .2s;
  transition-delay: .05s;
}
button:hover {
  background-color: #cfd8dc;
  top: -0.1em;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
button.apply{
  background-color: #a8f7a8;
}
button.apply:hover{
  background-color: #98e398;
}
button.apply:disabled{
  background-color: #eee;
}
button.abort{
  background-color: #ffef5d;
}
button.abort:hover{
  background-color: #f7e227;
}
button.anger{
  background-color: #ff9a9a;
}
button.anger:hover{
  background-color: #ff7575;
}
/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

/* items class */
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  transition: all linear .02s;
  transition-delay: .04s;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected {
  background-color: #CFD8DC;
  color: white;
}
.items li.selected:hover {
  background-color: #BBD8DC;
}
.items .text {
  position: relative;
  top: -3px;
}
.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
.items .status {
    font-size: small;
    color: #04d87b;
    padding: 0.8em 0.7em 0 0.7em;
    line-height: 1em;
    position: relative;
    top: -4px;
    margin-right: .1em;
    float: right;
}
  .items .status.ascribed {
    color: red;    
  }

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

span.add_button{
    background-color: #04d87b;
    padding: 1px 4px;
    border-radius: 4px;
    color: #fff;
    margin-left: 5px;
    font-size: smaller;
    cursor: pointer;
}
span.add_button:hover{
  background-color: #00c86b;
}
.full-width{
  width:100%;
}

/*
    Стили карточки
*/
.mat-card {
  width: 350px;
}
  .mat-card .mat-card-header {
    position: absolute;
    width: 100%;
    display: block;
  }
    .mat-card .mat-card-header .mat-icon {
        float: right;
        position: relative;
        margin-right: 80px;
        font-size: 70px;
        color: #ddd;
        top: -15px;
    }
.mat-card .mat-card-title {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 400;
    color: #888;
    margin-bottom: 30px;
}
.mat-card .mat-slide-toggle-label-before {
  margin-left: 10px;
}
.mat-card .mat-slide-toggle-label-before .mat-slide-toggle-bar {
  margin-left: 15px;
}
.mat-card .card-buttons {
  margin-bottom: 0;
  margin-top: 25px;
}  
  .mat-card .card-buttons button {
      margin: 5px;
      padding: 15px 20px;
  }
.mat-card .mat-input-element {
  font-size: x-large !important;
} 
.mat-card .row {
  margin: 10px 0;
  padding-left: 3px;
  width: 90%;
}
/* Убирает подчеркивание в инпуте, вложенном в Селект */
.tricky-select .mat-input-underline {
  display: none;
}
.tricky-select .mat-input-wrapper {
  margin-top: 0;
}



